results\*
results/*
*.Rhistory
*results/*
*results\*
*pptx
fwsw_small*
nerophis\*
nerophis/*
fwsw_pops_map.txt
papers\*
papers/*
figs/*
figs\*
*docx
.gitignore
docs\200_fwsw_analysis_cache\*
docs/200_fwsw_analysis_cache/*
docs\200_fwsw_analysis_cache\*
*\figure-latex\*
*/figure-latex/*
docs\202_fwsw_reanalysis_files\*
docs/202_fwsw_reanalysis_files/*
*.log
*pdf
*.save
scripts\dadi_scripts_abacus\*
scripts/dadi_scripts_abacus/*
*pdf
*png
*xlsx
*tar.gz
*log
.gitignore
docs/202_fwsw_reanalysis_files/figure-latex/unnamed-chunk-9-1.pdf
docs/202_fwsw_reanalysis_files/figure-latex/unnamed-chunk-8-1.pdf
docs/202_fwsw_reanalysis_files/figure-latex/unnamed-chunk-6-1.pdf
docs/202_fwsw_reanalysis_files/figure-latex/unnamed-chunk-10-1.pdf
docs/202_fwsw_reanalysis_files/figure-latex/treemixPrep-1.pdf
docs/202_fwsw_reanalysis_files/figure-latex/pcadapt_choose-1.pdf
docs/202_fwsw_reanalysis_files/figure-latex/unnamed-chunk-9-1.pdf
docs/202_fwsw_reanalysis_files/figure-latex/unnamed-chunk-8-1.pdf
docs/202_fwsw_reanalysis_files/figure-latex/unnamed-chunk-6-1.pdf
docs/202_fwsw_reanalysis_files/figure-latex/unnamed-chunk-10-1.pdf
docs/202_fwsw_reanalysis_files/figure-latex/treemixPrep-1.pdf
docs/202_fwsw_reanalysis_files/figure-latex/pcadapt_choose-1.pdf
docs/202_fwsw_reanalysis.log
docs/202_fwsw_reanalysis (Sarah Perry Flanagan's conflicted copy 1).out
